@rendermode InteractiveWebAssembly
@using StoreManager.Webapp.Client.Services
@inject NavState NavState
@implements IDisposable

<div class="top-row navbar-dark" styling="padding-right:1rem;">
    <div class="container-fluid" styling="max-height:56px;">
        <a class="navbar-brand" href=""><img class="logo" src="img\OptikITlogoCMYK-WHITE-_1_.svg" /></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

@if (NavState.IsVisible)
{
    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="nav flex-column">
            @* Home page should now say something like Please login or something *@
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3"> @* Page for creating a Chain *@
                <NavLink class="nav-link" href="chains/create">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Chain
                </NavLink>
            </div>

            <div class="nav-item px-3"> @* Page for viewing all Chains *@
                <NavLink class="nav-link" href="chains">
                    <span class="bi bi-link-45deg" aria-hidden="true"></span> View Chains
                </NavLink>
            </div>

            <div class="nav-item px-3"> @* Page for creating a Store (independent by default through this route) *@
                <NavLink class="nav-link" href="stores/create">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create Store
                </NavLink>
            </div>

            <div class="nav-item px-3"> @* Page for viewing Stores *@
                <NavLink class="nav-link" href="stores">
                    <span class="bi bi-shop" aria-hidden="true"></span> View Stores
                </NavLink>
            </div>
        </nav>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        NavState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        NavState.OnChange -= StateHasChanged;
    }
}

