@using StoreManager.Webapp.Client.Components.Layout
@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 ">
            @* <button class="nav-toggle-btn @(isSidebarVisible ? "active" : "")" type="button"
                 style="background-color:green;color:white;border-radius:12px;font-size:20px;padding:5px 20px" 
                    @onclick="ToggleSidebar">
                @(isSidebarVisible ? "Close" : "Menu")
            </button> *@
            <NavToggle />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

